@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.530/neodgm_code/style.css');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'NeoDunggeunmo Code';
    font-style: normal;
    font-size: 18px;
}

a {
    color: black;
}

body {
    background-color: black;
    color: white;
}

/* header CSS */
.header-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
}

.header {
    z-index: 1;
    width: 100%;
    min-width: 400px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header-logo:hover {
    cursor: pointer;
}

.header-list-wrapper {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}

.header-list {
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}

.header-list:hover {
    cursor: pointer;
    transition: 1.7s;
}

/* content */
.modifyButton {
    color: black;
    background-color: #ffffffe0;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    box-shadow: 3px 3px 3px white;
}

.content-wrapper {
    width: 100%;
    display: grid;
    justify-content: center;
}

.introduce-wrapper,
.aboutMe-wrapper,
.skill-wrapper,
.project-wrapper,
.career-wrapper,
.board-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 400px;
    max-width: 800px;
    height: 100vh;
    min-height: 950px;
}

.introduce,
.aboutMe,
.skill,
.project,
.career,
.board {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-title {
    text-align: center;
    font-size: 60px;
}

/* introduce */
.introduce-title>p {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.introduce-content {
    margin-top: 80px;
}

.introduce-content>p {
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
}

.introduce-content>p>b {
    color: rgb(255, 149, 149);
}

/* aboutMe */
.aboutMe-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 5px;
}

.aboutMe-content-list {
    margin-top: 60px;
    display: flex;
    width: 33%;
}

.aboutMe-icon>span {
    font-size: 70px;
}

.aboutMe-content-list>div:last-child {
    margin-left: 20px;
    display: grid;
    align-items: center;
}

.aboutMe-content-list>div>div {
    font-size: 16px;
}

.aboutMe-content-list>div>div:first-child {
    font-size: 20px;
    font-weight: 600;
}

/* skill */
.skill-content-list {
    margin-top: 20px;
}

.skill-content-list>div:first-child {
    font-size: 35px;
}

.skill-content-list>div:last-child {
    margin: 20px 0;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 25px;
    gap: 20px;
}

.skill-content-list>div>div {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}

.skill-content-list>div>div>img {
    height: 65px;
}

.skill-content-list>div>div>div {
    margin-top: 15px;
}

/* project */
.project-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-list-title {
    width: 800px;
    margin-top: 30px;
    padding: 20px 20px;
    margin-right: auto;
    font-size: 30px;
    border-radius: 24px;
}

.project-list-title:hover {
    color: black;
    background-color: white;
    transition: 0.7s;
}

.project-modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.4);
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 10;
}

.project-content-wrapper {
    width: 70%;
    height: 80%;
    padding: 50px;
    color: black;
    background-color: white;
    border-radius: 12px;
    box-shadow: 4px 4px 4px white;
}

.project-exit {
    font-size: 30px;
    float: right;
}

.project-title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.project-day {
    padding-top: 10px;
    font-weight: 200;
}

.project-content {
    margin-top: 40px;
}

.project-content>div {
    width: 100%;
    padding-top: 20px;
}

.project-main {
    display: flex;
    gap: 4vh;
}

.project-main>div {
    width: 50%;
}

.project-description {
    display: flex;
}

.description-label {
    width: 30%;
}

.swiper {
    height: 45vh;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* board */
.board-content-wrapper {
    width: 100%;
    height: 100%;
    max-height: 500px;
    min-width: 500px;
    border: 3px solid white;
    border-radius: 12px;
    margin-top: 50px;
}

.board-content-title {
    width: 75%;
    padding: 10px;
}

.board-content-date, .delete-board, thead>tr {
    text-align: center;
}

.write {
    margin-top: 20px;
    width: 100%;
}

.write>input,
.write>button {
    color: white;
    background-color: black;
    border: 3px solid white;
    border-radius: 12px;
    height: 30px;
    padding: 5px;
}

.write>input {
    width: 83%;
}

.write>button {
    height: 45px;
    width: 15%;
    box-shadow: 3px 3px 3px white;
}

.write>button:active{
    padding-left: 3px;
    padding-top: 3px;
    box-shadow: none;
}

/* footer */
.footer-wrapper {
    background-color: gray;
    display: grid;
    justify-content: center;
    padding: 20px 0;
}

.footer {
    margin-bottom: 10px;
}

.footer-body {
    display: flex;
    gap: 15px;
    margin: 10px;
    justify-content: center;
}

.footer-logo>img {
    width: 50px;
}

.copyright {
    text-align: center;
}